<article class="card shadow mb-3">
  <div class="card-body">
    <h2 class="blog-post-title"><%= article.title %></h2>
    <p class="bog-post-meta">
      <%= render "article_detail", article: article%>
    </p>
    <p><%= truncate(article.body, length: 150) %></p>
    <p>
      <%= link_to t('articles.continue_reading'), article%>
    </p>
    <%= link_to t('app.button.edit'), edit_article_path(article), class: "btn btn-secondary" if policy(article).update? %>
    <%= button_to t('app.button.destroy'), article_path(article), method: :delete, onclick: "return confirm(#{t('app.message.confirm_destroy')})", class: "btn btn-danger" if policy(article).destroy? %>
  </div>
</article>
