<div class="col-md-6">
    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">
                <%= article.category.name %>
            </strong>
            <h3 class="mb-0">
                <%= article.title %>
            </h3>
            <div class="mb-1 text-muted"><%= return_date(article.created_at) %> <%= link_to t('app.word.by') %> <%= article.user.email %></div>
            <p class="card-text mb-auto"><%= truncate(article.body, length: 150)%></p>
            <%= link_to link_to t('articles.continue_reading'), article%>
        </div>
    </div>
</div>