<%= render_if @highlights[0].present?, 'longer_featured', article: @highlights[0] %>
<div class="row mb-2 mt-3">
  <%= render_if @highlights[1].present?, 'medium_featured', article: @highlights[1] %>
  <%= render_if @highlights[2].present?, 'medium_featured', article: @highlights[2] %>
</div>
<div class="row g-5">
  <div class="col-md-8">
    <h3 class="pb-3 mb-3 fst-italic border-bottom">
      <%= t('articles.index.subtitle') %>
    </h3>
    <p>
      <%= link_to t('articles.new.title'), new_article_path, class: 'btn btn-primary' if user_signed_in? %>
    </p>
    <%= render @articles %>
    <%= render 'pagination'%>
  </div>
  <%= render 'aside' %>
</div>
<%= content_for :category_filter do %>
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <% @categories.each do |c| %>
        <%= link_to c.name, articles_path(category: c.name),
        class: "p-2 link-secondary #{'filter-active' if c.name.to_s == params[:category]}" %>
      <% end %>
    </nav>
  </div>
<% end %>
